

.list-data {
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  background-color: #585858;
  color: white;
  font-weight: 600;

  .li {
    padding: 10px;
    display: flex;
    position: relative;
  }
}